-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: portal_tramites_conalep
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anuncios`
--

DROP TABLE IF EXISTS `anuncios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `anuncios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contenido` text NOT NULL,
  `admin_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `anuncios_admin_id_foreign` (`admin_id`),
  CONSTRAINT `anuncios_admin_id_foreign` FOREIGN KEY (`admin_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anuncios`
--

LOCK TABLES `anuncios` WRITE;
/*!40000 ALTER TABLE `anuncios` DISABLE KEYS */;
INSERT INTO `anuncios` VALUES (1,'Bienvenidos al nuevo sistema de Servicio Social. Recuerden completar su solicitud.',1,'2026-06-08 00:50:15','2026-06-08 00:50:15');
/*!40000 ALTER TABLE `anuncios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cartas_presentacion`
--

DROP TABLE IF EXISTS `cartas_presentacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cartas_presentacion` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `empresa` varchar(255) NOT NULL,
  `direccion` text NOT NULL,
  `contacto` varchar(255) NOT NULL,
  `puesto` varchar(255) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_termino` date NOT NULL,
  `pdf_generado` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cartas_presentacion_user_id_foreign` (`user_id`),
  CONSTRAINT `cartas_presentacion_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cartas_presentacion`
--

LOCK TABLES `cartas_presentacion` WRITE;
/*!40000 ALTER TABLE `cartas_presentacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `cartas_presentacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comentarios`
--

DROP TABLE IF EXISTS `comentarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comentarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contenido` text NOT NULL,
  `tipo` enum('admin','estudiante','admin_primer_informe','admin_segundo_informe','estudiante_primer_informe','estudiante_segundo_informe') NOT NULL,
  `comentable_type` varchar(255) NOT NULL,
  `comentable_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `leido` tinyint(1) NOT NULL DEFAULT 0,
  `leido_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `comentarios_comentable_type_comentable_id_index` (`comentable_type`,`comentable_id`),
  KEY `comentarios_user_id_foreign` (`user_id`),
  CONSTRAINT `comentarios_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comentarios`
--

LOCK TABLES `comentarios` WRITE;
/*!40000 ALTER TABLE `comentarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `comentarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `tipo_documento_id` bigint(20) unsigned NOT NULL,
  `archivo_pdf` varchar(255) DEFAULT NULL,
  `estatus` enum('pendiente','validado','rechazado','validado_ventanilla') NOT NULL DEFAULT 'pendiente',
  `comentario` text DEFAULT NULL,
  `comentario_admin` text DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documentos_user_id_foreign` (`user_id`),
  KEY `documentos_tipo_documento_id_foreign` (`tipo_documento_id`),
  CONSTRAINT `documentos_tipo_documento_id_foreign` FOREIGN KEY (`tipo_documento_id`) REFERENCES `tipos_documento` (`id`) ON DELETE CASCADE,
  CONSTRAINT `documentos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
INSERT INTO `documentos` VALUES (20,2,2,'documentos/solicitudes/zKaeWuAYGqT75MgdvWCWyrcwqiveYOKth5Lgm0Uk.pdf','validado_ventanilla',NULL,NULL,1,'2026-07-02 03:55:26','2026-07-04 02:52:21'),(21,2,3,'documentos/modalidad/hiT1M3cKCQXN9CSEA5Bg50afW3iDDZSVgX1Kqto7.pdf','validado',NULL,NULL,1,'2026-07-03 00:18:30','2026-07-03 22:46:11'),(22,2,10,NULL,'pendiente',NULL,NULL,1,'2026-07-03 22:23:00','2026-07-04 01:19:53');
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `contacto` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
INSERT INTO `empresas` VALUES (1,'CONALEP Canc├║n II',NULL,NULL,NULL,1,'2026-06-07 01:13:02','2026-06-07 01:13:02'),(2,'Ayuntamiento de Canc├║n',NULL,NULL,NULL,1,'2026-06-07 01:13:02','2026-06-07 01:13:02'),(3,'Grupo Xcaret',NULL,NULL,NULL,1,'2026-06-07 01:13:04','2026-06-07 01:13:04');
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estudiante_periodo`
--

DROP TABLE IF EXISTS `estudiante_periodo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estudiante_periodo` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `periodo_id` bigint(20) unsigned NOT NULL,
  `estatus` enum('cursando','egresado','baja') NOT NULL DEFAULT 'cursando',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `estudiante_periodo_user_id_foreign` (`user_id`),
  KEY `estudiante_periodo_periodo_id_foreign` (`periodo_id`),
  CONSTRAINT `estudiante_periodo_periodo_id_foreign` FOREIGN KEY (`periodo_id`) REFERENCES `periodos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `estudiante_periodo_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estudiante_periodo`
--

LOCK TABLES `estudiante_periodo` WRITE;
/*!40000 ALTER TABLE `estudiante_periodo` DISABLE KEYS */;
INSERT INTO `estudiante_periodo` VALUES (1,1,3,'cursando','2026-06-10 23:47:36','2026-06-10 23:47:36'),(2,2,4,'cursando',NULL,NULL);
/*!40000 ALTER TABLE `estudiante_periodo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grados_academicos`
--

DROP TABLE IF EXISTS `grados_academicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grados_academicos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `abreviatura` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grados_academicos`
--

LOCK TABLES `grados_academicos` WRITE;
/*!40000 ALTER TABLE `grados_academicos` DISABLE KEYS */;
INSERT INTO `grados_academicos` VALUES (1,'Licenciatura','Lic.',1,'2026-06-07 01:49:24','2026-06-07 01:49:24'),(2,'Maestr├¡a','Mtro.',1,'2026-06-07 01:49:31','2026-06-07 01:49:31'),(3,'Doctorado','Dr.',1,'2026-06-07 01:49:45','2026-06-07 01:49:45'),(4,'Ingenier├¡a','Ing.',1,'2026-06-07 01:49:59','2026-06-07 01:49:59');
/*!40000 ALTER TABLE `grados_academicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horarios`
--

DROP TABLE IF EXISTS `horarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `turno_id` bigint(20) unsigned NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `horarios_turno_id_foreign` (`turno_id`),
  CONSTRAINT `horarios_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horarios`
--

LOCK TABLES `horarios` WRITE;
/*!40000 ALTER TABLE `horarios` DISABLE KEYS */;
INSERT INTO `horarios` VALUES (1,1,'14:00:00','18:00:00',NULL,NULL),(2,1,'15:00:00','19:00:00',NULL,NULL),(3,1,'16:00:00','20:00:00',NULL,NULL),(4,2,'07:00:00','11:00:00',NULL,NULL),(5,2,'08:00:00','12:00:00',NULL,NULL),(6,2,'09:00:00','13:00:00',NULL,NULL);
/*!40000 ALTER TABLE `horarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periodos`
--

DROP TABLE IF EXISTS `periodos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periodos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `a├▒o_inicio` year(4) NOT NULL,
  `a├▒o_fin` year(4) NOT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periodos`
--

LOCK TABLES `periodos` WRITE;
/*!40000 ALTER TABLE `periodos` DISABLE KEYS */;
INSERT INTO `periodos` VALUES (1,2021,2024,'2021 - 2024',0,'2026-06-10 23:42:41','2026-06-10 23:42:41'),(2,2022,2025,'2022 - 2025',0,'2026-06-10 23:42:41','2026-06-10 23:42:41'),(3,2023,2026,'2023 - 2026',1,'2026-06-10 23:42:41','2026-06-10 23:42:41'),(4,2024,2027,'2024 - 2027',0,'2026-06-10 23:42:41','2026-06-10 23:42:41');
/*!40000 ALTER TABLE `periodos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practicas`
--

DROP TABLE IF EXISTS `practicas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `practicas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `horas_requeridas` int(11) NOT NULL DEFAULT 360,
  `horas_completadas` int(11) NOT NULL DEFAULT 0,
  `reporte_parcial_subido` tinyint(1) NOT NULL DEFAULT 0,
  `reporte_final_subido` tinyint(1) NOT NULL DEFAULT 0,
  `archivo_parcial` varchar(255) DEFAULT NULL,
  `estatus_parcial` enum('pendiente','validado','validado_ventanilla','rechazado') NOT NULL DEFAULT 'pendiente',
  `archivo_final` varchar(255) DEFAULT NULL,
  `estatus_final` enum('pendiente','validado','validado_ventanilla','rechazado') NOT NULL DEFAULT 'pendiente',
  `estatus` enum('no_solicitado','pendiente','en_progreso','pendiente_revision','liberado') NOT NULL DEFAULT 'no_solicitado',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `empresa_id` bigint(20) unsigned DEFAULT NULL,
  `grado_academico_id` bigint(20) unsigned DEFAULT NULL,
  `nombre_persona_carta` varchar(255) DEFAULT NULL,
  `cargo_persona_carta` varchar(255) DEFAULT NULL,
  `nombre_jefe_inmediato` varchar(255) DEFAULT NULL,
  `cargo_jefe_inmediato` varchar(255) DEFAULT NULL,
  `grado_academico_jefe_id` bigint(20) unsigned DEFAULT NULL,
  `area_asignada` varchar(255) DEFAULT NULL,
  `apoyo_estudiante` varchar(255) DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_limite_parcial` date DEFAULT NULL,
  `fecha_limite_final` date DEFAULT NULL,
  `horario_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `practicas_user_id_foreign` (`user_id`),
  KEY `practicas_empresa_id_foreign` (`empresa_id`),
  KEY `practicas_grado_academico_id_foreign` (`grado_academico_id`),
  KEY `practicas_grado_academico_jefe_id_foreign` (`grado_academico_jefe_id`),
  KEY `practicas_horario_id_foreign` (`horario_id`),
  CONSTRAINT `practicas_empresa_id_foreign` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `practicas_grado_academico_id_foreign` FOREIGN KEY (`grado_academico_id`) REFERENCES `grados_academicos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `practicas_grado_academico_jefe_id_foreign` FOREIGN KEY (`grado_academico_jefe_id`) REFERENCES `grados_academicos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `practicas_horario_id_foreign` FOREIGN KEY (`horario_id`) REFERENCES `horarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `practicas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practicas`
--

LOCK TABLES `practicas` WRITE;
/*!40000 ALTER TABLE `practicas` DISABLE KEYS */;
INSERT INTO `practicas` VALUES (17,2,360,0,0,0,NULL,'pendiente',NULL,'pendiente','pendiente','2026-07-04 01:39:34','2026-07-04 01:39:34',3,4,'Danahe Leydi Amor Murillo Ruiz','Jefe de Proyecto de Promoci├│n de Vinculaci├│n','Danahe Leydi Amor Murillo Ruiz','Seguimiento de Servicio Social y Practicas Profesionales',4,'Seguimiento de Servicio Social y Practicas Profesionales','Equipo de computo','2026-03-03','2026-05-04','2026-07-03',2);
/*!40000 ALTER TABLE `practicas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio_social`
--

DROP TABLE IF EXISTS `servicio_social`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicio_social` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_limite_primer_informe` date DEFAULT NULL,
  `fecha_limite_segundo_informe` date DEFAULT NULL,
  `reporte_parcial_subido` tinyint(1) NOT NULL DEFAULT 0,
  `reporte_final_subido` tinyint(1) NOT NULL DEFAULT 0,
  `archivo_parcial` varchar(255) DEFAULT NULL,
  `estatus_parcial` enum('pendiente','validado','validado_ventanilla','rechazado') NOT NULL DEFAULT 'pendiente',
  `archivo_final` varchar(255) DEFAULT NULL,
  `estatus_final` enum('pendiente','validado','validado_ventanilla','rechazado') NOT NULL DEFAULT 'pendiente',
  `estatus` enum('no_solicitado','pendiente','en_progreso','pendiente_revision','liberado') NOT NULL DEFAULT 'no_solicitado',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `empresa_id` bigint(20) unsigned DEFAULT NULL,
  `nombre_persona_carta` varchar(255) DEFAULT NULL,
  `cargo_persona_carta` varchar(255) DEFAULT NULL,
  `nombre_jefe_inmediato` varchar(255) DEFAULT NULL,
  `cargo_jefe_inmediato` varchar(255) DEFAULT NULL,
  `grado_academico_jefe_id` bigint(20) unsigned DEFAULT NULL,
  `area_asignada` varchar(255) DEFAULT NULL,
  `apoyo_estudiante` varchar(255) DEFAULT NULL,
  `grado_academico_id` bigint(20) unsigned DEFAULT NULL,
  `horario_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `servicio_social_user_id_foreign` (`user_id`),
  KEY `servicio_social_empresa_id_foreign` (`empresa_id`),
  KEY `servicio_social_grado_academico_id_foreign` (`grado_academico_id`),
  KEY `servicio_social_horario_id_foreign` (`horario_id`),
  KEY `servicio_social_grado_academico_jefe_id_foreign` (`grado_academico_jefe_id`),
  CONSTRAINT `servicio_social_empresa_id_foreign` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `servicio_social_grado_academico_id_foreign` FOREIGN KEY (`grado_academico_id`) REFERENCES `grados_academicos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `servicio_social_grado_academico_jefe_id_foreign` FOREIGN KEY (`grado_academico_jefe_id`) REFERENCES `grados_academicos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `servicio_social_horario_id_foreign` FOREIGN KEY (`horario_id`) REFERENCES `horarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `servicio_social_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio_social`
--

LOCK TABLES `servicio_social` WRITE;
/*!40000 ALTER TABLE `servicio_social` DISABLE KEYS */;
INSERT INTO `servicio_social` VALUES (31,2,'2026-06-10','2026-09-10','2026-12-10',0,0,NULL,'pendiente',NULL,'pendiente','liberado','2026-07-01 23:52:00','2026-07-03 22:09:42',1,'ola_kenya','si','unu','unu',3,'owo','xd',4,1),(32,1,'2026-03-02','2026-06-02','2026-09-02',0,0,NULL,'pendiente',NULL,'pendiente','pendiente','2026-07-03 22:34:40','2026-07-03 22:34:40',3,'Jorge Ulises Montes Mendez','Director','Raul Cordevo Saldovar','Supervisor de Desechos',2,'Departamento de Desechos','Ninguno',3,5);
/*!40000 ALTER TABLE `servicio_social` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudes`
--

DROP TABLE IF EXISTS `solicitudes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `solicitudes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `empresa_id` bigint(20) unsigned NOT NULL,
  `horario_id` bigint(20) unsigned DEFAULT NULL,
  `grado_academico_id` bigint(20) unsigned NOT NULL,
  `grado_academico_jefe_id` bigint(20) unsigned NOT NULL,
  `tipo` varchar(255) NOT NULL,
  `estado` varchar(255) NOT NULL DEFAULT 'pendiente',
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `nombre_persona_carta` varchar(255) NOT NULL,
  `cargo_persona_carta` varchar(255) NOT NULL,
  `area_asignada` varchar(255) NOT NULL,
  `nombre_jefe_inmediato` varchar(255) NOT NULL,
  `cargo_jefe_inmediato` varchar(255) NOT NULL,
  `apoyo_estudiante` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `solicitudes_user_id_foreign` (`user_id`),
  KEY `solicitudes_empresa_id_foreign` (`empresa_id`),
  KEY `solicitudes_horario_id_foreign` (`horario_id`),
  CONSTRAINT `solicitudes_empresa_id_foreign` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `solicitudes_horario_id_foreign` FOREIGN KEY (`horario_id`) REFERENCES `horarios` (`id`),
  CONSTRAINT `solicitudes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudes`
--

LOCK TABLES `solicitudes` WRITE;
/*!40000 ALTER TABLE `solicitudes` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitudes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_documento`
--

DROP TABLE IF EXISTS `tipos_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_documento` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `tramite` enum('SS','PP','ambos') NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_documento`
--

LOCK TABLES `tipos_documento` WRITE;
/*!40000 ALTER TABLE `tipos_documento` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipos_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turnos`
--

DROP TABLE IF EXISTS `turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `turnos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turnos`
--

LOCK TABLES `turnos` WRITE;
/*!40000 ALTER TABLE `turnos` DISABLE KEYS */;
INSERT INTO `turnos` VALUES (1,'Matutino',NULL,NULL),(2,'Vespertino',NULL,NULL);
/*!40000 ALTER TABLE `turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `matricula` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `apellidos` varchar(255) NOT NULL,
  `carrera` varchar(255) NOT NULL,
  `role` enum('admin','estudiante') NOT NULL DEFAULT 'estudiante',
  `semestre` int(11) DEFAULT NULL,
  `grupo` varchar(3) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `estatus_servicio_social` enum('no_solicitado','pendiente','en_progreso','pendiente_revision','liberado') NOT NULL DEFAULT 'no_solicitado',
  `estatus_practicas` enum('no_solicitado','pendiente','en_progreso','pendiente_revision','liberado') NOT NULL DEFAULT 'no_solicitado',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `turno_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_matricula_unique` (`matricula`),
  KEY `users_turno_id_foreign` (`turno_id`),
  CONSTRAINT `users_turno_id_foreign` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'2023001','Juan Alberto ','Perez Lopez','Informatica','estudiante',6,'405','juan@conalep.edu.mx',NULL,'$2y$12$z40k0HyErkSiQiMTiQ3eC.nXNmjMh1A3a95DciYJXCy1eX9jdZ90W',NULL,'pendiente','en_progreso','2026-05-27 22:44:33','2026-06-17 22:31:31',2),(2,'ADMIN001','Administrador','Sistema','Administraci├│n','admin',5,'505','admin@conalep.edu.mx',NULL,'$2y$12$pN89fsuqSDcs8tQ9olgt8.2obCHKjtpZ2u11ukTGJVV7NUmww9anq',NULL,'liberado','en_progreso','2026-06-08 06:41:48','2026-07-03 22:48:29',1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-04 11:02:14
